<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="myconnstring" value="Data Source=DESKTOP-NJDAGKV;Initial Catalog=StudDB;Integrated Security=True"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>